body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    display: flex;
    padding: 20px;
    min-height: 100vh;
}

.left-side {
    width: 25%;
    padding: 10px;
}

.right-side {
    width: 75%;
    padding: 10px;
}

#filter-form {
    position: relative;
}

/* 定位清除按鈕到右側 */
.clear-button {
    position: absolute;
    right: 27px;  /* 調整為你需要的距離 */
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 26px;
    color: #ccc;
    display: none;  /* 初始為隱藏 */
    width: 26px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
}

#clear-keyword:hover, #clear-tag:hover, #clear-set:hover {
    background-color: #f0f0f0;
}

#clear-keyword {
    top: 17%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#clear-tag {
    top: 60%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#clear-set {
    top: 83%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.select2-container--default .select2-selection--single .select2-selection__arrow:hover {
    height: 26px;
    width: 26px;
    background-color: #0006ff33;
    border-radius: 50%;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /* 每行 5 張卡牌 */
    gap: 20px;  /* 卡牌之間的間距 */
    padding: 16px;  /* 容器內邊距 */
    box-sizing: border-box;  /* 設定內邊距不影響寬度 */
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
/*     width: 120px; */
/*     height: 180px; */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: 6 / 9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);  /* 當滑鼠懸停時向上移動 10px */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* 增強陰影，讓浮起效果更加顯著 */
}

.card img {
    width: 100%;
    height: auto;
}

/* 彈窗背景 */
.popup {
  display: none; /* 預設隱藏 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 半透明背景 */
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

/* 彈窗內容 */
.popup-content {
  display: flex;
  background-color: white;
  padding: 20px;
  max-width: 800px;
  max-height: 80%;
  overflow: auto;
  position: relative;
  border-radius: 8px;
}

/* 彈窗左側圖片 */
.popup-left img {
  max-width: 200px;
  max-height: 300px;
}

/* 彈窗右側文本 */
.popup-right {
  margin-left: 20px;
  flex: 1;
}

/* 關閉按鈕 */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #aaa;
}

.close-btn:hover {
  color: #000;
}
