body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    display: flex;
    padding: 20px;
    min-height: 100vh;
}

.left-side {
    width: 25%;
    padding: 10px;
}

#filter-for {
    position: relative;
}

/* 定位清除按鈕到右側 */
#clear-keyword {
    position: absolute;
    top: 50%;
    right: 10px;  /* 調整為你需要的距離 */
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
    display: none;  /* 初始為隱藏 */
}

/* 隱藏 select2 預設的箭頭 */
.select2-selection__arrow {
    display: none;
}
